.texte {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0000FF;
}
h1 {
  font-family: Times, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #00FF00
}
#dernierp {
  font-family: Times, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #00FF00
}
